.subject-con {
    padding-top: 46px;

    h1 {
        margin: 20px 0 5px;
        font-size: 24px;
        line-height: 32px;
        word-break: break-all;
    }
    h2 {
        color: #aaa;
        margin: 0 0 15px;
        font-size: 15px;
    }
    section {
        margin-bottom: 20px;
    }
    .subject {
        margin: 0 18px;
    }
}

.subject-info {
    position: relative;
    overflow: hidden;
    .right {
        float: right;

        img {
            width: 100px;
            height: 150px;
        }
    }
    .left {
        margin-right: 100px;
    }
    .rating {
        line-height: 18px;
        font-size: 15px;
        color: #494949;
    }
    .meta {
        color: #494949;
        margin-top: 15px;
        padding-right: 24px;
        font-size: 14px;
        line-height: 1.6;
        word-wrap: break-word;
    }
}

.subject-mark {
    margin-bottom: 30px;
    text-align: center;
    span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ffb712;
        border-radius: 3px;
        margin-right: 10px;
        color: #ffb712;
        font-size: 15px;
        text-align: center;
        padding: 0 20px;
    }
}

.subject-channel {
    .channel_tag {
        background-color: #effaf0;
        border: 1px solid #42bd56;
        display: inline-block;
        margin-right: 10px;
        font-size: 13px;
        padding: 5px 10px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .channel_tag a {
        color: #42bd56;
        background: url("../images/green_arrow.png") right center/8px no-repeat;
        padding-right: 10px;
    }
}

.subject-intro {
    p {
        font-size: 14px;
        color: #494949;
        line-height: 22px;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
    }
}

.subject-comments {
    p {
        text-align: center;
    }
    a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        border: 1px solid #42bd56;
        border-radius: 3px;
        margin-right: 10px;
        color: #42bd56;
        font-size: 15px;
        text-align: center;
        padding: 0 20px;
    }
}

.subject-catalog {
    color: #494949;
    line-height: 22px;
    font-size: 14px;
}

.subject-review {
    li {
        position: relative;
        padding: 15px 0 15px 50px;
        word-wrap: break-word;
        overflow: hidden;
        border-bottom: solid 1px #eee;

        .avatar {
            width: 36px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 10px;
        }

        .desc {
            margin: 0 0 11px;
            color: #494949;

            .uname {
                font-size: 15px;
            }

            .date {
                float: right;
                color: #aaa
            }
        }

        .summary {
            line-height: 22px;
            color: #666;
        }

        .expend {
            color: #42bd56;
        }
    }
}